<div>
  <a class="hiddenanchor" id="signup"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1>Log in</h1>
          <div>
            <%= f.email_field :email, class:"form_control", autofocus: true, autocomplete: "email", placeholder:"Email" %>
          </div>
          <div>
            <%= f.password_field :password, autocomplete: "current-password", class:"form_control", placeholder:"Password" %>
          </div>
          <div>
            <%= f.submit "Log in", class:"btn btn-default submit" %>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <div class="clearfix"></div>
            <br>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>